
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1, h2,h3, h4,h5,h6,p {
  margin: 0;
  
}

main {
  min-height: 80vh;
}

header {
  border-top: 10px solid #ffffff;
}

footer {
 border-top: 1px solid #ced4da;
}

.col-4 {
  align-self: center;
}

.col-sm-3 {
 
  background: aliceblue;
}

.col-sm-9 {
  background: aliceblue;
}



.text-center.py-3.m-5.col {
  color: white;
}



.text-center.py-3.m-5.col {
  color: white;
}

.container-fluid {
  margin-top: 0px;
  padding: 0;
}

img.d-block.w-100 {
  border: 2px solid thistle;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel a {
  margin: 0 auto;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
  }

  .text-center.col-2 {
    padding-left: 0;
    padding-right: 0;
}

.col-6 {
  padding-left: 0;
  padding-right: 0;
}

.text-center.col-4 {
  padding-left: 0;
  padding-right: 0;
}

.col-lg-6.col-md.order-lg-2.order-md-12 {
  padding-left: 0;
  padding-right: 0;
}


main.py-3 {
  padding-top: 10px!important;
}



/* test */
@media (min-width: 370px) {
  .navbarEventImage, .logo, .nav-chapterName {
    height: 75px;
    }
   
}

@media (min-width: 576px) {
  .navbarEventImage, .logo, .nav-chapterName {
    height: 100px;
  }
 
}

@media (min-width: 768px) {
  .navbarEventImage, .logo, .nav-chapterName {
    height: 100px;
  }
 
}

@media (min-width: 992px) {
  .navbarEventImage, .logo, .nav-chapterName {
    height: 100px;
  }

 
}

@media (min-width: 1200px) {
  .navbarEventImage, .logo, .nav-chapterName {
    height: 100px;
  }

 
}

@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 1320px;
  }

  .navbarEventImage, .logo, .nav-chapterName {
    height: 135px;
  }

 
}

@media (min-width: 1600px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl, .container-xxxl {
    max-width: 1530px;
  }

  .navbarEventImage, .logo, .nav-chapterName {
    height: 135px;
  }

}

.ck-editor__editable {
  min-height: 200px;
  /* max-height: 200px; */
  /* min-width: 860px; */
}

#pdfLoader {
  position: relative;
  top: 0;
  left: 0;
  width: 100;
  height: 100vh;
  background-color: rgba(155, 155, 155, 0.7);
}

.Pdf-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Pdf-logo {
    animation: Pdf-logo-spin infinite 5s linear;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  }
}

@keyframes Pdf-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* PDF CSS */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.control-panel {
  font-size: 16px;
  color: black;
  background-color: white;
  border-radius: 5px;
  width: fit-content;
}

.clickable {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  color: lightgray;
}
.pdfApp {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pdfApp-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .pdfApp-logo {
    animation: pdfApp-logo-spin infinite 5s linear;
  }
}

@keyframes pdfApp-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loader {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(155, 155, 155, 0.7);
}

.clickable {
  cursor: pointer;
}