main {
  min-height: 80vh;
}

header {
  
  border-top: 3px solid #ced4da;
}

footer {
  
  border-top: 1px solid #ced4da;
}



.col-sm-3 {
 
  background: aliceblue;
}

.col-sm-9 {
  background: aliceblue;
}

/* footer {
  background: teal;
} */

.text-center.py-3.m-5.col {
  color: white;
}

/* footer {
  background: teal;
} */

.text-center.py-3.m-5.col {
  color: white;
}

.container-fluid {
  margin-top: 15px;
}

img.d-block.w-100 {
  border: 2px solid thistle;
}

/* changes for sidebar */

/* .flex-column.nav {
  width: 20%;
} */

main.py-3 {
  display: flex;
}

.sideBar.row {
  width: 20%;
}

.container {
  /* width: 80%; */
  display: flex;
}

.content.row {
  width: 80%;
  margin-left: 10px;
}